*{transition:all 0.3s ease-in-out;}



.container{
  clear:both;
  overflow:auto;
  background-color: white;
}

nav{
    float:left;
    padding-left: 50px;
    }

.logo img{
    float:left;
    padding-top: 15px;
    width: 50px;
}

.logo h1{
    float:left;
    padding-left: 10px;
    color: #FF4431;
    font-family: Segoe UI;

}

.logo {
    padding-left: 250px;

}

.user {
    float: right;
     padding-right: 150px;
     padding-top: 20px;
}

.user button {
    width: 175px;
    height: 45px;
    background-color: #FF4431;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: Segoe UI;
    padding-top: 2px;
    font-size: 20px;
    border: none;
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
}


ul li{
  display: inline-block;
  padding:15px;
  font-size:20px;
  font-family: Segoe UI;
  padding-left: 15px;
  color: #3F3F3F;
}

ul li:hover{
  color: #FF4431;

}
