{% extends 'layouts/main.html' %}
{% block title %} Coja {% endblock %}
{% block content %}

<div class="body-container">
    <div class="title">
        <p>Let us find the data.</p>
     </div>
    <div class="subtitle">
        <p>Coja allows you to quickly identify important data points of publicly traded firms. </p>
    </div>
    <div class="search">
        <div class="form-search-container">
            <form class="form-search" method="POST" action="/search_company_name">
                <input type="text" name="search_name" placeholder="search by name" >
                <button id="name" type="submit"><i class=""></i>Find Company</button>
            </form>
         </div>
    </div>
</div>
{% endblock %}

<div class="footer">
        <p>Coja &copy; All Rights Reserved.</p>
    </div>

